# Fannie Mae analysis

See for futher details: 
https://www.fanniemae.com/portal/funding-the-market/data/loan-performance-data.html

Per quarter there is a Acquisition data set and a Performance data set. See for details
https://www.fanniemae.com/resources/file/fundmarket/pdf/webinar-101.pdf

In [1]:
import pandas as pd

## import acquisition and performance data

In [6]:
Acquisitions_Variables = [
    "LOAN_ID", "ORIG_CHN", "Seller.Name", "ORIG_RT", "ORIG_AMT", "ORIG_TRM", "ORIG_DTE"
    ,"FRST_DTE", "OLTV", "OCLTV", "NUM_BO", "DTI", "CSCORE_B", "FTHB_FLG", "PURPOSE", "PROP_TYP"
    ,"NUM_UNIT", "OCC_STAT", "STATE", "ZIP_3", "MI_PCT", "Product.Type", "CSCORE_C", "MI_TYPE", "RELOCATION_FLG"
]


AQ2018Q1 = pd.read_csv(
    "data/Acquisition_2018Q1.txt",
    sep = "|",
    header = None ,
    names = Acquisitions_Variables
)

In [7]:
AQ2018Q1.shape

(426207, 25)

In [9]:
Performance_Variables = [
    "LOAN_ID", "Monthly.Rpt.Prd", "Servicer.Name", "LAST_RT", "LAST_UPB", "Loan.Age", "Months.To.Legal.Mat",
    "Adj.Month.To.Mat", "Maturity.Date", "MSA", "Delq.Status", "MOD_FLAG", "Zero.Bal.Code", 
    "ZB_DTE", "LPI_DTE", "FCC_DTE","DISP_DT", "FCC_COST", "PP_COST", "AR_COST", "IE_COST", "TAX_COST", "NS_PROCS",
    "CE_PROCS", "RMW_PROCS", "O_PROCS", "NON_INT_UPB", "PRIN_FORG_UPB_FHFA", "REPCH_FLAG", "PRIN_FORG_UPB_OTH", "TRANSFER_FLG"
]

PERF208Q1 = pd.read_csv(
    "data/Performance_2018Q1.txt",
    sep = "|",
    header = None ,
    names =Performance_Variables
)

In [10]:
PERF208Q1.head(10)

,LOAN_ID,Monthly.Rpt.Prd,Servicer.Name,LAST_RT,LAST_UPB,Loan.Age,Months.To.Legal.Mat,Adj.Month.To.Mat,Maturity.Date,MSA,...,TAX_COST,NS_PROCS,CE_PROCS,RMW_PROCS,O_PROCS,NON_INT_UPB,PRIN_FORG_UPB_FHFA,REPCH_FLAG,PRIN_FORG_UPB_OTH,TRANSFER_FLG
0,100001040173,02/01/2018,QUICKEN LOANS INC.,4.25,NaN,0,360,360.0,02/2048,18140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
1,100001040173,03/01/2018,NaN,4.25,NaN,1,359,359.0,02/2048,18140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2,100001040173,04/01/2018,NaN,4.25,NaN,2,358,358.0,02/2048,18140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
3,100001040173,05/01/2018,NaN,4.25,NaN,3,357,357.0,02/2048,18140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4,100001040173,06/01/2018,NaN,4.25,NaN,4,356,356.0,02/2048,18140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
5,100001040173,07/01/2018,NaN,4.25,NaN,5,355,355.0,02/2048,18140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
6,100001040173,08/01/2018,NaN,4.25,449321.18,6,354,354.0,02/2048,18140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
7,100001040173,09/01/2018,NaN,4.25,448683.55,7,353,353.0,02/2048,18140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
8,100001040173,10/01/2018,NaN,4.25,448043.66,8,352,352.0,02/2048,18140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
9,100001040173,11/01/2018,NaN,4.25,447401.50,9,351,351.0,02/2048,18140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N